@using (Ajax.BeginForm("TesteRumo", "Rumo", new AjaxOptions { UpdateTargetId = "mapa" }))
{
<div class="form-group">
    <div class="col-md-10">
        @Html.Label("Tipo de Transporte")
        @Html.DropDownList("TravelMode", new SelectList(ViewBag.TravelMode, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
    </div>
    <div class="col-md-10">
        @Html.Label("Origem")
        @Html.TextBox("PointA")
        <button class="btn btn-default">Ir</button>
    </div>
</div>
}

<div id="mapa" style="width:100%; height:300px"></div>
<script src="@(ViewBag.Link)" ></script>


