@model AFGT.Models.Organizadore

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Organizadore</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeOrg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeOrg)
        </dd>

        <dt>
         
        </dt>

        <dd>
        
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nipc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nipc)
        </dd>

        <dt>
           
        </dt>

        <dd>
           
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkFotoORG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkFotoORG)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
