<div class="row header">
    <div class="row text-center padding-bottom-40 push-top">
        <h2 class="text-white">AFGT</h2>
        <p class="text-white">
            AFGT guia-te pelo o que ouves!
        </p>
    </div>
    @using (Ajax.BeginForm("Index", new AjaxOptions { UpdateTargetId = "resultadosPesquisa" }))
     {
        <div class="wrapper960 center">
                <form class=" form l padding-10 cf  form-inline">
                    
                        @Html.DropDownList("ListaPesquisa", new SelectList(ViewBag.ListaPesquisa, "Value", "Text"), new { @class = "border-white -rounded", onchange = @"TipoPesquisa(this.value);"})
                        <input name="ConteudoPesquisa" type="text" class="border-white -rounded active" id="Artista" placeholder="O que procuras?" style="width:160px;" />
                        @Html.Action("Index", "GeneroMusicals", new { id = ViewBag.GeneroMusicalID })
                   
                        @Html.DropDownList("ListaOpcao", new SelectList(ViewBag.ListaOpcao, "Value", "Text"), new { @class = "border-white -rounded", onchange = @"TipoOpcao(this.value);"})
                        @Html.Partial("_Data")
                        @Html.Partial("_Local")

                        <button class="btn btn-default">Ir</button>

                </form>
        </div>
    }
</div>

        
