@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AFGT</h1>
    <p class="lead">AFGT guia-te pelo o que ouves! xD</p>
    <div class="row">
        <div class="form-group active" id="Artista">
            <div class="col-md-10">
                <input type="text" class="form-control" placeholder="O que procuras?" />
            </div>
         </div>
            <div class="col-md-10 hidden" id="Genero">
                @Html.Action("Index", "GeneroMusicals", new { id = ViewBag.GeneroMusicalID})
            </div>
            <div class="col-md-offset-2 col-md-10">                
                        <div class="col-md-10">
                            @Html.DropDownList("ListaPesquisa",  new SelectList(ViewBag.ListaPesquisa, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                        </div>
                <button class="btn btn-default">Ir</button>
            </div>
        </div>
    </div>

<div class="row">
    <p>Ordenar por:</p>
    <select id="option">
        <option value="Data">Data</option>
        <option value="Local">Cidade</option>
    </select>
    <br>
    <br>
    <div class="active" id="Data">
        @Html.Partial("Data")
    </div>
    <div class="hidden" id="Local">
        @Html.Partial("Local")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $('#option').change(function () {
            var TipoOpcao = $('#option').val();
            if (TipoOpcao == "Local") {
                $('#Data').removeClass('active').addClass('hidden');
                $('#Local').removeClass('hidden').addClass('active');
            } else {
                $('#Local').removeClass('active').addClass('hidden');
                $('#Data').removeClass('hidden').addClass('active');
            }
        })

        $("ListaPesquisa").change(function () {
            var TipoSearch = $("TipoPesquisa").val();
            if (TipoSearch == "2") {
                $('#Artista').removeClass('active').addClass('hidden');
                $('#Genero').removeClass('hidden').addClass('active');
            } else {
                $('#Genero').removeClass('active').addClass('hidden');
                $('#Artista').removeClass('hidden').addClass('active');
            }
        })

        $('button').click(function () {
            //action do controlador 
        })
    </script>

}