@model AFGT.Models.Artista

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Artista</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkFoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkFoto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GeneroMusical.NomeEstilo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeneroMusical.NomeEstilo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArtistasID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
