@model AFGT.Models.Evento

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "Eventoes", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div>
        <p>Change Photo</p>
        @Html.TextBox("file", "", new { type = "file" })  <br />

    </div>

    <div class="form-horizontal">
        <h4>Evento</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="form-group">
            @Html.LabelFor(model => model.Link, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="file" value="Browse" class="btn btn-default" />
                <!--falta aqui coisa-->
            </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NomeEvento, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NomeEvento, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NomeEvento, "", new { @class = "text-danger" })
                </div>
            </div>


                <div class="form-group">
                @Html.LabelFor(model => model.Morada.Endereco, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        
                        @Html.EditorFor(model => model.Morada.Endereco, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Morada, "", new { @class = "text-danger" })
                    </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Morada.Cidade, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                
                            @Html.EditorFor(model => model.Morada.Cidade, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Morada, "", new { @class = "text-danger" })
                        </div>
                        </div>
                        <div class="form-group" id="helpme">
                            <a data-toggle="tooltip" class="tooltipLink" data-original-title="Contem 8 caracteres: 0000-000">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </a>
                            @Html.LabelFor(model => model.Morada.CodPostal, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                               
                                @Html.EditorFor(model => model.Morada.CodPostal, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Morada, "", new { @class = "text-danger" })
                            </div>
                            </div>
                        

            <div class="form-group">

                @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })

                <div class="col-md-10">
                    @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" id="helpme">
                <a data-toggle="tooltip" class="tooltipLink" data-original-title="Date: DD/MM/YYYY HH:MM:SS">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </a>
                @Html.LabelFor(model => model.Data, htmlAttributes: new { @class = "control-label col-md-2" })

                <div class="col-md-10">
                    @Html.EditorFor(model => model.Data, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Data, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <!--artista-->
                @Html.LabelFor(model => model.Artistas, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Artistas, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Artistas, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>

        </div>
 

}
        <div>
          

            @Html.ActionLink("Back to List", "Index")
        </div>

@section Scripts {
    <script>
        $("a.tooltipLink").tooltip();
</script>
}
