@model AFGT.Models.Evento

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Evento</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
             <label class="control-label ">Imagem do Evento</label>
            @*@Html.DisplayNameFor(model => model.Link)*@
        </dt>

        <dd>
        <h3><img src=@Html.DisplayFor(model => model.Link) style=" width:280px; height:160px; background: #ffffff; margin: auto; -moz-border-radius: 0px; border-radius: 0px; padding: 6px; box-shadow: 0px 0px 20px #888;" /></h3>
         @*  @Html.DisplayFor(model => model.Link)*@
        </dd>

       
        <dt>
            <label class="control-label ">Nome do Evento</label>     
            @*@Html.DisplayNameFor(model => model.NomeEvento)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeEvento)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Morada)*@
            <label class="control-label ">Endereço</label>  
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Morada.Endereco)          
        </dd>

        <dt>
            <label class="control-label ">Cidade</label>
            @*@Html.DisplayNameFor(model => model.Morada.Cidade)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Morada.Cidade)
        </dd>

        <dt>
            <label class="control-label ">Código Postal</label>
            @*@Html.DisplayNameFor(model => model.Morada)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Morada.CodPostal)
        </dd>

        <dt>
            <label class="control-label ">Descrição</label>
            @*@Html.DisplayNameFor(model => model.Descricao)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            <label class="control-label ">Data</label>
            @*@Html.DisplayNameFor(model => model.Data)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            <label class="control-label ">Artistas</label>
            @*@Html.DisplayNameFor(model => model.Artistas)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artistas)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Organizadore.NomeOrg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organizadore.NomeOrg)
        </dd>*@

        <dt>
            <label class="control-label ">Likes</label>
            @*@Html.DisplayNameFor(model => model.Artistas)*@
        </dt>

        <dd id="Opiniao">

         
              @if (ViewContext.HttpContext.User.IsInRole("Manager"))
              {
                  using (Ajax.BeginForm("Details", new {id = Model.EventosID },new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "Opiniao" })) {

                          <button name="Opiniao" type="submit" id="like" value="Like">Like</button>
                          <button name="Opiniao" type="submit" id="dislike" value="DisLike">DisLike</button>
                  }

            @Html.DisplayFor(model => model.Likes)
         }
           
        </dd>

   

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.EventosID }) |
    @Html.ActionLink("Voltar a lista de Eventos", "Index")
</p>
