@using Microsoft.AspNet.Identity
@model AFGT.Models.Evento

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div  id="form-Horizontal">
    <h4>Evento</h4>
    <hr />

    <dl class="dl-horizontal">
    

        <dt>
            <label class="control-label ">Imagem do Evento</label>
            @*@Html.DisplayNameFor(model => model.Link)*@
        </dt>

        <dd>
            <a href=@Html.DisplayFor(model => model.Link) data-lightbox="EvImg">
                <h3><img src=@Html.DisplayFor(model => model.Link) style=" width:500px; height:auto; background: #ffffff; margin: auto; -moz-border-radius: 0px; border-radius: 0px; padding: 6px; box-shadow: 0px 0px 20px #888;" data-toggle="lightbox" /></h3>
            </a>
            @*  @Html.DisplayFor(model => model.Link)*@
        </dd>


        <dt>
            <label class="control-label ">Nome do Evento</label>     
            @*@Html.DisplayNameFor(model => model.NomeEvento)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeEvento)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Morada)*@
            <label class="control-label ">Endereço</label>  
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Morada.Endereco)          
        </dd>

        <dt>
            <label class="control-label ">Cidade</label>
            @*@Html.DisplayNameFor(model => model.Morada.Cidade)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Morada.Cidade)
        </dd>

        <dt>
            <label class="control-label ">Código Postal</label>
            @*@Html.DisplayNameFor(model => model.Morada)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Morada.CodPostal)
        </dd>

        <dt>
            <label class="control-label ">Descrição</label>
            @*@Html.DisplayNameFor(model => model.Descricao)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            <label class="control-label ">Data</label>
            @*@Html.DisplayNameFor(model => model.Data)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            <label class="control-label ">Artistas</label>
            @*@Html.DisplayNameFor(model => model.Artistas)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artistas)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Organizadore.NomeOrg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organizadore.NomeOrg)
        </dd>*@

        <dt>
            <label class="control-label ">Likes</label>
            @*@Html.DisplayNameFor(model => model.Artistas)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Likes)
        </dd>


    </dl>
</div>

@if (User.IsInRole("Manager"))
{
    
    <p>
        @Html.ActionLink("Voltar a lista de Eventos", "Index", null, new { @class = "btn btn-default" }) 
         
        @if(Convert.ToInt32(User.Identity.GetUserId()) == Model.OrgID) { 
        @Html.ActionLink("Editar", "Edit", new { id = Model.EventosID }, new { @class = "btn btn-default" }) 
        }
    </p>
}
else
{
    <p>
    @Html.Action("Index", "Rumo", new { id = Model.EventosID });


    @Html.ActionLink("Voltar a lista de Eventos", "Index", "Home", null, new { @class = "btn btn-default" })
</p>
}

<div id="form-Horizontal">
    <h3 class="control-label ">Images</h3>



    <div class="row justify-content-center">
       
            
                @foreach (var item in Model.FotoGalleries.Where(i => i.EventoID == Model.EventosID))
            { <div class="col-sm-4">

            <a href=@Html.DisplayFor(modelItem => item.FotoURL) data-lightbox="example-set" >
                <img src=@Html.DisplayFor(modelItem => item.FotoURL)  height="auto" width="200"  class="img-fluid">
            </a>
        </div>
                }

        

    </div>
</div>

@section scripts{
@Scripts.Render("~/Scripts/Modernizr-2.8.3.js")
@Scripts.Render("~/Scripts/lightbox-2.6.js")
}