@model AFGT.Models.Evento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Evento</h4>
    <hr />
    <dl class="dl-horizontal">
        <!-- falta a parte da imagem
        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>
-->
        <dt>
            @Html.DisplayNameFor(model => model.NomeEvento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeEvento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Morada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Morada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Artistas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artistas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Organizadore.NomeOrg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organizadore.NomeOrg)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventosID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
