@model IEnumerable<AFGT.Models.Evento>

@{
    ViewBag.Title = "Index";
}

<h2>Lista Eventos</h2>

<p>
    @Html.ActionLink("Novo Evento", "Create", null, new { @class = "btn btn-default" })
</p>
<table class="table">

    <!--falta ciclo para o organizador-->
    @foreach (var item in Model)
    {

        if (item.Data > System.DateTime.Now)
        {

            <div class="col-sm-4">
                <div class="thumbnail">
                    <a href='@Url.Action("Details", "Eventoes", new { id = item.EventosID })'>
                        <img alt="..." src=@Html.DisplayFor(modelItem => item.Link)> <!--falta fazer upload-->
                    </a>
                    <div class="caption">
                        @*<div align="center"><a href="https://twitter.com/minimalmonkey" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a>
                            <a href="https://facebook.com" class="icon-button facebook"><i class="icon-facebook"></i><span></span></a>
                            <a href="https://plus.google.com" class="icon-button google-plus"><i class="icon-google-plus"></i><span></span></a></div>*@
                        <h2>@Html.DisplayFor(modelItem => item.NomeEvento)</h2>
                        <h3>@Html.DisplayFor(modelItem => item.Data) @*| @Html.DisplayFor(modelItem => item.Data.TimeOfDay)*@</h3>                   
                        <br/>
                        <a href='@Url.Action("Details", "Eventoes", new { id = item.EventosID })'>
                            <h2 id="evtitle">@Html.DisplayFor(modelItem => item.NomeEvento)</h2>
                        </a>
                        <h3>@Html.DisplayFor(modelItem => item.Data) @*| @Html.DisplayFor(modelItem => item.Data.TimeOfDay)*@</h3>
                        <br />
                        <strong>@Html.LabelFor(modelItem => item.Descricao)</strong>
                        <p>@Html.DisplayFor(modelItem => item.Descricao)</p>
                        <strong>@Html.LabelFor(modelItem => item.Artistas)</strong>
                        
                        @foreach(var i in item.Artistas) { 
                        <p>@Html.DisplayFor(modelItem => i.Nome)</p>
                        }
                        <strong>@Html.LabelFor(modelItem => item.Morada)</strong>
                        <p>@Html.DisplayFor(modelItem => item.Morada.Endereco)</p>
                        <p>@Html.DisplayFor(modelItem => item.Morada.Cidade) @Html.DisplayFor(modelItem => item.Morada.CodPostal)</p>

                        <div id="buttonbottom">
                            @Html.ActionLink("Editar", "Edit", new { id = item.EventosID }, new { @class = "btn btn-default" })
                            @Html.ActionLink("Detalhes", "Details", new { id = item.EventosID }, new { @class = "btn btn-default" })
                            @Html.ActionLink("Apagar", "Delete", new { id = item.EventosID }, new { @class = "btn btn-default" })
                        </div>
                    </div>
                <div>
            </div>
        </div>
    </div>
            }
        }
    }


</table>

