@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
  
    <div class="dropdown" style="float:right;">
        
          <div class="dropbtn">@Html.ActionLink("HELLO " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</div>
        <div class="dropdown-content">
            
            @Html.ActionLink("Account Settings", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })

            @if (ViewContext.HttpContext.User.IsInRole("Manager")) { 
            @Html.ActionLink("Your Events", "Index", "Eventoes")
            @Html.ActionLink("Create New Event", "Create", "Eventoes")
            }


            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        </div>
       
    </div>    
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
            <div class="nav navbar-nav pull-right">
                <a class="navbar-brand">@Html.ActionLink("Register User", "Register", "Account", new { area = "" }, new { @class = "navbar-brand" })</a>
                <a class="navbar-brand">@Html.ActionLink("Register Organizer", "RegisterOrg", "Account", new { area = "" }, new { @class = "navbar-brand" })</a>
                <a class="navbar-brand">@Html.ActionLink("Log in", "Login", "Account", new { area = "" }, new { @class = "navbar-brand" })</a>                    <!--APAGEI ISTO routeValues: null, htmlAttributes: new { id = "loginLink" }-->  
</div>

        }
